<div class="row">
    <div class="col-md-6 border">
        <h3 align="center">All Games:</h3>
        <div class='easy-col-3'>
            <div>Name</div>
            <div>White player</div>
            <div>Black player</div>
            <% @games.each do |game| %>
                <div><%= link_to game.name, game %></div>
                <div><%= player_or_join(game, 'white') %></div>
                <div><%= player_or_join(game, 'black') %></div>
            <% end %>
        </div>
    </div>
    <div class="col-md-6 border">
        <h3 align="center">Open Games:</h3>
        <div class='easy-col-3'>
            <div>Name</div>
            <div>White player</div>
            <div>Black player</div>
            <% @open_games.each do |game| %>
                <div><%= link_to game.name, game %></div>
                <div><%= player_or_join(game, 'white') %></div>
                <div><%= player_or_join(game, 'black') %></div>
            <% end %>
        </div>
    </div>
</div>