<h1>Simple Chess</h1>
<p>Font Awesome commit
    <%= fa_icon('chess') %>
    <%= fa_icon('chess-king') %>
    <%= fa_icon('chess-queen') %>
    <%= fa_icon('chess-rook') %>
    <%= fa_icon('chess-bishop') %>
    <%= fa_icon('chess-knight') %>
    <%= fa_icon('chess-pawn') %>
</p>
