<h1>Game <%= @game.name %></h1>

<h3><%= @game.status.to_s.titleize %></h3>

<% range = flip_board? ? (0..7).to_a.reverse : (0..7) %>
<div class='chess-grid mx-auto mt-5'>
  <% range.each do |ypos| %>
    <% range.each do |xpos| %>
      <div class='full-size square <%= (ypos + xpos).even? ? 'white' : 'black' %>'
        xpos=<%= xpos %> ypos=<%= ypos %>>
        <div id='highlight-<%= xpos %>-<%= ypos %>' class='full-size square highlight'
          xpos=<%= xpos %> ypos=<%= ypos %>>
          <% current_piece = @game.piece_at(xpos, ypos) %>
          <% if current_piece %>
            <span id='piece-<%= current_piece.id %>' piece_id=<%= current_piece.id %> class='full-size square piece piece-<%= current_piece.color %> 
              <%= 'movable' if current_piece&.can_move?(current_user) %>'>

              <!-- Render the pieces with font-awesome -->
              <%= fa_icon('chess-' + current_piece.type.downcase) %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Forfeit', game_path(@game, forfeit: true), method: :put %>

<script type='text/javascript'>
  $(function() {
    $('.movable').draggable({
      revert: true,
      scroll: false,
      start: function( event, ui ) {
        piece_id = event.target.attributes['piece_id'].value;
        $.ajax({ url: `/pieces/${piece_id}/highlight_moves.js` });
      }
    });

    $('.movable').click(function() {
      piece_id = this.attributes['piece_id'].value;
      selected_id = $('.selected')[0] && $('.selected')[0].attributes['piece_id'].value;

      if (selected_id == piece_id) {
        piece_id = null;
      }

      $.ajax({ url: `/pieces/${piece_id}/highlight_moves.js` });
    });

    $(document).keyup(function (event) {
      // Clear selection when the escape key is pressed
      if (event.which == 27) {
        $.ajax({ url: `/pieces/null/highlight_moves.js` });
      }
    });
  });
</script>